/* Navbar Section */
.avatar {
  margin-right: 100px;
}

#dropdown-basic {
  background-color: #c32424;
  border-color: #c32424;
  margin-right: 70px;
}

#dropdown-basic:active {
  background-color: #c32424;
  border-color: #c32424;
}

.navBtnLogin {
  margin: 0 18px;
  color: #e8e8e8;
  background-color: #c32424;
  border-color: #c32424;
  font-weight: 900;
  font-size: 14px;
}

.navBtnLogin:hover {
  color: #e8e8e8;
  color: #f7f7f7;
  background-color: #c32424;
  border-color: #c32424;
}

.navBtnLogin:active {
  color: #e8e8e8 !important;
  background-color: #c32424 !important;
  border-color: #c32424 !important;
  box-shadow: none !important;
}

.navBtnLogin:focus {
  color: #e8e8e8;
  background-color: #c32424;
  border-color: #c32424;
  box-shadow: none;
}

.navBtnRegister {
  width: 100px;
  margin: 0 18px;
  color: #c32424;
  background-color: #e8e8e8;
  border-color: #e8e8e8;
  border-radius: 10px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  font-weight: 900;
  font-size: 14px;
}

.navBtnRegister:hover {
  color: #c32424;
  background-color: #f7f7f7;
  border-color: #e8e8e8;
  /* box-shadow: none; */
}

.navBtnRegister:active {
  color: #c32424 !important;
  background-color: #e8e8e8 !important;
  border-color: #e8e8e8 !important;
  /* box-shadow: none!important; */
}

.navBtnRegister:focus {
  color: #c32424;
  background-color: #e8e8e8;
  border-color: #e8e8e8;
  /* box-shadow: none; */
}

.navTheme {
  padding-left: 50px;
  background-color: #c32424;
}

.a-register {
  color: black;
  text-decoration: none;
}

.a-register:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
